:root{
    --yellow: #FFC702;
    --green: #00ff00;
    --black: #0E0D0D;
    --background: #F6FAFF;
    --white: #FFF;
    --background_graphic: #545353;
    --background-modal: #9e9e9e;
    --green: green;
    --button: #ccc;
    --footer: #363839;
    font-size: 62.5%;
}